nav{
    z-index: 99;
}
.img-banner{
    /* opacity: .5; */
}
.banner{
    --bs-gutter-x:0rem;
    position: relative !important;
}
@media screen and (max-width: 575.98px){
    .carousel-caption h2{
       display: none;
    }
    .item img{
        height: 60px;
    }
    .item {
        background-color: #FB7125 ;
        border-radius: 40px;
        margin: auto;
        max-width: 150px;
        padding: 1rem;
    }
}
@media screen and (min-width: 576px)  {
    .carousel-caption h2{
        display: none;
     }
     .item img{
         height: 60px;
     }
     .item {
         background-color: #FB7125 ;
         border-radius: 40px;
         margin: auto;
         max-width: 150px;
         padding: 1rem;
     }
}
@media screen and (min-width: 768px) {
    .imagengozu{
        margin-top: -10rem;
    }

    .item {
        background-color: #FB7125 ;
        border-radius: 40px;
        max-width: 125px;
        padding: 2rem;
    }
    .item img{
        height: 100px;
    }
    .item {
        background-color: #FB7125 ;
        border-radius: 40px;
        margin: auto;
        max-width: 250px;
        padding: 2rem;
    }
    .background-section{
        margin-top: 13rem !important;
    }
    
}
@media screen and (min-width: 992px) {
    .carousel-caption{
        top:40% !important;
        right: 19% !important;
        padding-left:15rem !important;
    }
    .carousel-caption h2{
        color:white;
        font-weight: bold;
    }
    .footer-div{
        padding: 8rem;
    }
    .imagengozu{
        margin-top: -15rem;
    }
    .item img{
        height: 100px;
    }
    .item {
        background-color: #FB7125 ;
        border-radius: 40px;
        margin: auto;
        max-width: 250px;
        padding: 2rem;
    }
    .background-section{
        margin-top: 20rem !important;
    }
}
.mi-div {
    border-left: #FB7125 3px dashed;
}
.boton{
    border: 3px solid #FB7125;
    background-color: white;
    color: #FB7125;
    border-radius: 30px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
}
.boton-reverso{
    border: 3px solid white;
    background-color: #FB7125;
    color: white;
    border-radius: 30px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
}
.navbar-nav a{
    font-weight: bold;
}
.navbar-nav .nav-item.active .nav-link {
    text-decoration: underline  3px #FB7125;
}

.icon{
    height: 50px;
}
li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
.owl-carousel {
    display: flex !important;
    justify-content: center !important; /* Centrar horizontalmente */
    align-items: center !important; /* Centrar verticalmente */
}

.item {
    text-align: center !important; /* Alinear el texto al centro */
}
.item a{
    text-decoration: none;
}