nav{
    z-index: 99;
}
.img-banner{
    opacity: .5;
}
.banner{
    --bs-gutter-x:0rem;
    position: relative !important;
}
@media screen and (max-width: 575.98px){
    .carousel-caption h2{
       display: none;
    }
    .section-banner{
        margin-top: 2rem;
    }
    .dropdown-item{
        display: block;
        padding: 1rem;
        transform: translate( 6px ) !important;
    }
    .dropdownmenunav.show{
        display: block;
        padding: 1rem;
        transform: translate( 6px ) !important;
    }
}
@media screen and (min-width: 576px)  {
    .section-banner{
        margin-top: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .imagengozu{
        margin-top: -10rem;
    }
    .section-banner{
        margin-top: 14rem;
    }
    
}
@media screen and (min-width: 992px) {
    .carousel-caption{
        top:40% !important;
        right: 54% !important;
    }
    .carousel-caption h1{
        font-weight: bold !important;
        font-family: 'Kanit', sans-serif !important;
    }
    .footer-div{
        padding: 8rem;
    }
    .imagengozu{
        margin-top: -15rem;
    }
    .section-banner{
        margin-top: 20rem;
    }
}
.mi-div {
    border-style: dashed;

    padding: 2rem;
}
.boton{
    border: 3px solid #FB7125;
    background-color: white;
    color: #FB7125;
    border-radius: 30px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
}
.boton-reverso{
    border: 3px solid white;
    background-color: #FB7125;
    color: white;
    border-radius: 30px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
}
.navbar-nav a{
    font-weight: bold;
}
.navbar-nav .nav-item.active .nav-link {
    text-decoration: underline  3px #FB7125;
}

.icon{
    height: 50px;
}
li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
.likeButton {
    cursor: pointer;
}
.buscar-propiedades::placeholder {
    color: #FB7125;
}
.dropdown-menu ul{
    list-style: none;
    padding: 0;
}
.dropdownmenu.show{
    display: flex;
    padding: 1rem;
    /* transform: translate(307px, 56px) !important; */
}
.dropdownmenunav.show{
    display: flex;
    padding: 1rem;
    transform: translate( 6px ) !important;
}
