.card-header{
    background-color: #FF5B00 !important;
    border-top-left-radius: 35px !important;
    border-top-right-radius: 35px !important;
    height: 4rem !important;
}
.card{
    border-radius: 35px !important;
}
.card img{
    height: 6rem;
}